@model BookStore.Models.Book

<div>
    <p>
        <strong>Book</strong>
        @Model.Name
    </p>
    <p>
        <strong>Price</strong>
        @String.Format("{0:F}", Model.Price)
    </p>
</div>

